{% load staticfiles %}

<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}| FrickFeed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="import" href="static/bower_components/paper-toolbar/paper-toolbar.html" />
    <link rel="import" href="static/bower_components/paper-menu/paper-menu.html" />
    <script src="static/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>

    <!-- Leaflet for Image Viewer -->
    <link rel="stylesheet" href="static/css/leaflet.css" />
    <script src="{% static "js/main.js" %}"></script>
    </head>
    <script src="static/js/lib/leaflet.js"></script>
    <style>
      .shippingRecord {
        height: 180px;
      }
    </style>
    <!-- End Leaflet for Image Viewer -->
  </head>

  <body>
    <!-- Header -->
    <header>
      <paper-toolbar>
        <div class="title">FrickFeed</div>
      </paper-toolbar>
    </header>

    <!-- Content -->
    <div id="content">

      {% block content %}{% endblock %}

    </div>

    <!-- Scripts -->
    <script src="static/js/image_viewer.js"></script>
  </body>
</html>
