{% load staticfiles %}

<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}| FrickFeed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="import" href="static/bower_components/paper-toolbar/paper-toolbar.html">
    <link rel="import" href="static/bower_components/paper-menu/paper-menu.html">
    <script src="static/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
  </head>
  <body>
    <header>
      <paper-toolbar>
        <div class="title">FrickFeed</div>
      </paper-toolbar>
    </header>
    <div id="main">
      {% block content %}{% endblock %}
    </div>

    <section id="content"></section>

    <script src="https://fb.me/react-0.14.3.min.js"></script>
    <script src="https://fb.me/react-dom-0.14.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="static/js/build/example.js"></script>

  </body>
</html>
