  <h1 class="transcribe-header">Step 3 of 10: Season</h1>

  <div style="position: absolute; right: 10px; top: 8px;">
    <paper-button raised>
      <paper-icon-button style="color: #555; position: relative; bottom: 1px;" icon="save"></paper-icon-button>
      <span style="color: #555; margin-left: -10px; font-size: 14px;">Save for Later</span>
    </paper-button>
  </div>

  <paper-input label="Season" type="search"
    placeholder="" autosave="test" results="5"></paper-input>
  <div class="controls" style="text-align: right;">
    <paper-button raised>
      <span style="margin-right: -10px;">Next</span>
      <paper-icon-button style="color: #000; position: relative; bottom: 1px;" icon="chevron-right"></paper-icon-button>
    </paper-button>
  </div>
