  <h1 class="transcribe-header">Hello World!</h1>

  <p>Thank you for your help with digitizing this Frick Shipping Label. Lorem ipsum dolor sit amet consecutr.</p>

  <div class="controls" style="text-align: right;">
    <paper-button raised>
      <span style="margin-right: -10px; font-weight: bold;">Get Started</span>
      <paper-icon-button style="color: #000; position: relative; bottom: 1px;" icon="chevron-right"></paper-icon-button>
    </paper-button>
  </div>

  <div class="spacer" style="height: 10px;"></div>
